<html>
  <head>
  </head>
<form id="checkout" action="/ec" method="POST">
<input type="image" src="https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif" align="left" style="margin-right:7px;" alt="submit_form"></input>
</form>
</html>