<html>
  <head>
  </head>
    <body>
      <form action="/confirm" method="POST" id="confirmation">
        <p>
          <label>Confirm $10</label>
          <input type="hidden" id="token" name="token" value=<%= @token %>></input>
          <input type="hidden" id="payer_id" name="payer_id" value=<%= @payer_id %>></input>

        </p>
          <input class="submit-button" type="submit" />
      </form>
    </body>
<html>
  