<html>
  <head>
  </head>
    <body>
      <form action="/confirm" method="POST" id="confirmation">
        <p>
          <label>Confirm $10</label>
        </p>
          <input class="submit-button" type="submit" />
      </form>
    </body>
<html>
  